/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
hikaricp.properties
generatorConfig.xml
application.yml
redis.properties
/np-base/src/main/resources/application.yml
/np-base/src/main/resources/env-config.properties
/np-base/src/main/resources/hikaricp.properties
/np-base/src/main/resources/redis.properties
/np-webx/src/main/resources/env-config.properties
/np-webx/src/main/resources/hikaricp.properties
/np-webx/src/main/resources/redis.properties
/np-webx/src/main/resources/mybatis-config.xml
/np-webx/src/main/resources/mbg_config_desc.xml
/np-webx/target/
/np-base/target/
/np-blackhole/target/
*.log
/log/
mybatis-config.xml
