<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.northpark.mapper.MusicMapper" >
  <resultMap id="BaseResultMap" type="cn.northpark.model.Music" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="artist" property="artist" jdbcType="VARCHAR" />
    <result column="album" property="album" jdbcType="VARCHAR" />
    <result column="media_length" property="mediaLength" jdbcType="VARCHAR" />
    <result column="rating" property="rating" jdbcType="VARCHAR" />
    <result column="album_img" property="albumImg" jdbcType="VARCHAR" />
    <result column="lrc_path" property="lrcPath" jdbcType="VARCHAR" />
    <result column="music_path" property="musicPath" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bc_music
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.northpark.model.Music" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bc_music (type, title, artist, 
      album, media_length, rating, 
      album_img, lrc_path, music_path
      )
    values (#{type,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{artist,jdbcType=VARCHAR}, 
      #{album,jdbcType=VARCHAR}, #{mediaLength,jdbcType=VARCHAR}, #{rating,jdbcType=VARCHAR}, 
      #{albumImg,jdbcType=VARCHAR}, #{lrcPath,jdbcType=VARCHAR}, #{musicPath,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.northpark.model.Music" >
    update bc_music
    set type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      artist = #{artist,jdbcType=VARCHAR},
      album = #{album,jdbcType=VARCHAR},
      media_length = #{mediaLength,jdbcType=VARCHAR},
      rating = #{rating,jdbcType=VARCHAR},
      album_img = #{albumImg,jdbcType=VARCHAR},
      lrc_path = #{lrcPath,jdbcType=VARCHAR},
      music_path = #{musicPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, type, title, artist, album, media_length, rating, album_img, lrc_path, 
    music_path
    from bc_music
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, type, title, artist, album, media_length, rating, album_img, lrc_path, 
    music_path
    from bc_music
  </select>
</mapper>