<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.northpark.mapper.AstroMapper" >
  <resultMap id="BaseResultMap" type="cn.northpark.model.Astro" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="wx_cop_userid" property="wxCopUserid" jdbcType="VARCHAR" />
    <result column="xz_name" property="xzName" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bc_astro
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.northpark.model.Astro" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bc_astro (wx_cop_userid, xz_name, add_time, 
      type, status)
    values (#{wxCopUserid,jdbcType=VARCHAR}, #{xzName,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.northpark.model.Astro" >
    update bc_astro
    set wx_cop_userid = #{wxCopUserid,jdbcType=VARCHAR},
      xz_name = #{xzName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, wx_cop_userid, xz_name, add_time, type, status
    from bc_astro
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, wx_cop_userid, xz_name, add_time, type, status
    from bc_astro
  </select>
</mapper>