<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.northpark.mapper.EnvCfgMapper" >
  <resultMap id="BaseResultMap" type="cn.northpark.model.EnvCfg" >
    <id column="L_CFG_ID" property="lCfgId" jdbcType="INTEGER" />
    <result column="VC_CFG_NAME" property="vcCfgName" jdbcType="VARCHAR" />
    <result column="VC_CFG_VALUE" property="vcCfgValue" jdbcType="VARCHAR" />
    <result column="VC_DESC" property="vcDesc" jdbcType="VARCHAR" />
    <result column="C_STATUS" property="cStatus" jdbcType="CHAR" />
    <result column="D_MDF_TIME" property="dMdfTime" jdbcType="DATE" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bc_env_cfg
    where L_CFG_ID = #{lCfgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.northpark.model.EnvCfg" >
    insert into bc_env_cfg (L_CFG_ID, VC_CFG_NAME, VC_CFG_VALUE, 
      VC_DESC, C_STATUS, D_MDF_TIME
      )
    values (#{lCfgId,jdbcType=INTEGER}, #{vcCfgName,jdbcType=VARCHAR}, #{vcCfgValue,jdbcType=VARCHAR}, 
      #{vcDesc,jdbcType=VARCHAR}, #{cStatus,jdbcType=CHAR}, #{dMdfTime,jdbcType=DATE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.northpark.model.EnvCfg" >
    update bc_env_cfg
    set VC_CFG_NAME = #{vcCfgName,jdbcType=VARCHAR},
      VC_CFG_VALUE = #{vcCfgValue,jdbcType=VARCHAR},
      VC_DESC = #{vcDesc,jdbcType=VARCHAR},
      C_STATUS = #{cStatus,jdbcType=CHAR},
      D_MDF_TIME = #{dMdfTime,jdbcType=DATE}
    where L_CFG_ID = #{lCfgId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select L_CFG_ID, VC_CFG_NAME, VC_CFG_VALUE, VC_DESC, C_STATUS, D_MDF_TIME
    from bc_env_cfg
    where L_CFG_ID = #{lCfgId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select L_CFG_ID, VC_CFG_NAME, VC_CFG_VALUE, VC_DESC, C_STATUS, D_MDF_TIME
    from bc_env_cfg
  </select>
</mapper>