<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.northpark.mapper.LrcsMapper" >
  <resultMap id="BaseResultMap" type="cn.northpark.model.Lrcs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="album" property="album" jdbcType="VARCHAR" />
    <result column="artist" property="artist" jdbcType="VARCHAR" />
    <result column="downloads" property="downloads" jdbcType="INTEGER" />
    <result column="media_length" property="mediaLength" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="rating" property="rating" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bc_lrcs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.northpark.model.Lrcs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bc_lrcs (album, artist, downloads, 
      media_length, path, rating, 
      type)
    values (#{album,jdbcType=VARCHAR}, #{artist,jdbcType=VARCHAR}, #{downloads,jdbcType=INTEGER}, 
      #{mediaLength,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{rating,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.northpark.model.Lrcs" >
    update bc_lrcs
    set album = #{album,jdbcType=VARCHAR},
      artist = #{artist,jdbcType=VARCHAR},
      downloads = #{downloads,jdbcType=INTEGER},
      media_length = #{mediaLength,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      rating = #{rating,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, album, artist, downloads, media_length, path, rating, type
    from bc_lrcs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, album, artist, downloads, media_length, path, rating, type
    from bc_lrcs
  </select>
</mapper>