<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.northpark.mapper.LyricsZanMapper" >
  <resultMap id="BaseResultMap" type="cn.northpark.model.LyricsZan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="lyricsid" property="lyricsid" jdbcType="INTEGER" />
    <result column="love_year" property="loveYear" jdbcType="VARCHAR" />
    <result column="love_date" property="loveDate" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bc_lyrics_zan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.northpark.model.LyricsZan" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bc_lyrics_zan (userid, lyricsid, love_year, 
      love_date)
    values (#{userid,jdbcType=INTEGER}, #{lyricsid,jdbcType=INTEGER}, #{loveYear,jdbcType=VARCHAR}, 
      #{loveDate,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.northpark.model.LyricsZan" >
    update bc_lyrics_zan
    set userid = #{userid,jdbcType=INTEGER},
      lyricsid = #{lyricsid,jdbcType=INTEGER},
      love_year = #{loveYear,jdbcType=VARCHAR},
      love_date = #{loveDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userid, lyricsid, love_year, love_date
    from bc_lyrics_zan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userid, lyricsid, love_year, love_date
    from bc_lyrics_zan
  </select>
</mapper>