<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.northpark.mapper.PoemMapper" >
  <resultMap id="BaseResultMap" type="cn.northpark.model.Poem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ret_code" property="retCode" jdbcType="VARCHAR" />
    <result column="ret_url" property="retUrl" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="years" property="years" jdbcType="VARCHAR" />
    <result column="years_code" property="yearsCode" jdbcType="VARCHAR" />
    <result column="types" property="types" jdbcType="VARCHAR" />
    <result column="types_code" property="typesCode" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="pic_poem" property="picPoem" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="content1" property="content1" jdbcType="LONGVARCHAR" />
    <result column="enjoys" property="enjoys" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bc_poem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.northpark.model.Poem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bc_poem (ret_code, ret_url, title, 
      years, years_code, types, 
      types_code, author, pic_poem, 
      create_time, content, content1, 
      enjoys)
    values (#{retCode,jdbcType=VARCHAR}, #{retUrl,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{years,jdbcType=VARCHAR}, #{yearsCode,jdbcType=VARCHAR}, #{types,jdbcType=VARCHAR}, 
      #{typesCode,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{picPoem,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{content1,jdbcType=LONGVARCHAR}, 
      #{enjoys,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.northpark.model.Poem" >
    update bc_poem
    set ret_code = #{retCode,jdbcType=VARCHAR},
      ret_url = #{retUrl,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      years = #{years,jdbcType=VARCHAR},
      years_code = #{yearsCode,jdbcType=VARCHAR},
      types = #{types,jdbcType=VARCHAR},
      types_code = #{typesCode,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      pic_poem = #{picPoem,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      content1 = #{content1,jdbcType=LONGVARCHAR},
      enjoys = #{enjoys,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, ret_code, ret_url, title, years, years_code, types, types_code, author, 
    pic_poem, create_time, content, content1, enjoys
    from bc_poem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, ret_code, ret_url, title, years, years_code, types, types_code, author, 
    pic_poem, create_time, content, content1, enjoys
    from bc_poem
  </select>
    <select id="querySql" resultMap="BaseResultMap">
      ${sqlExpr}
    </select>
  <select id="findByCondition" resultMap="BaseResultMap">
  select id, ret_code, ret_url, title, years, years_code, types, types_code, author,
    pic_poem, create_time, content, content1, enjoys
    from bc_poem
    <if test="whereSql != null and whereSql != ''">
      ${whereSql}
    </if>

    <if test="orderBy != null and orderBy != ''">
      order by  ${orderBy}
    </if>

  </select>
</mapper>